.art-works {
    h2 {
        margin-bottom: 1rem;
    }
    img {
        display: block;
        max-width: 100%;
    }
}

.three-column {
    img {
        border-bottom: 1rem solid white;
    }
}

.image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    transition: opacity 200ms, visibility 200ms;

    &.show {
        visibility: visible;
        opacity: 1;
    }

    &.hide {
        visibility: hidden;
        opacity: 0;
        user-select: none;
        pointer-events: none;
    }

    img {
        max-width: calc(100% - 4rem);
        max-height: calc(100% - 4rem);
        object-fit: contain;
        object-position: center;
    }
}
