@import '../shared.scss';

.inner-nav {
    display: flex;
    a {
        margin-right: 1rem;
    }

    @media screen and (max-width: $break-point) {
        justify-content: space-between;
        a {
            margin-right: 0;
        }
    }
}
