@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './shared.scss';

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    color: currentColor;
}

* {
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    letter-spacing: -0.04em;
}

h1 {
    font-size: 4rem;
    line-height: 1em;
    margin-bottom: 1rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

span,
p,
li {
    line-height: 1.5;
}

ul {
    padding-inline-start: 1.5rem;
}

section {
    break-inside: avoid;
    margin-bottom: 2rem;
}
p {
    line-height: 1.5em;
}

#root {
    position: relative;
    width: 100%;
    height: 100%;
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @media print {
        height: fit-content;
        overflow: auto;
    }

    @media screen and (max-width: $break-point) {
        height: fit-content;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.app-body {
    height: 1px;
    flex-grow: 1;

    @media print {
        height: fit-content;
    }

    @media screen and (max-width: $break-point) {
        height: fit-content;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        overflow: auto;
        @media print {
            height: fit-content;
        }
    }
}

.menu-list {
    position: relative;
    flex-basis: 200px;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
    }

    .list-wrapper {
        height: 10px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-x: visible;
        overflow-y: auto;
    }

    a {
        padding: $padding-size;
        &.active {
            font-weight: bold;
        }
    }

    .switch {
        display: none;
        font-size: 40px;
        width: 1em;
        height: 1em;
        z-index: 1;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px;
        padding: 3px;
        overflow: hidden;
        position: absolute;
        right: 100%;
        background-color: transparent;
        transition: background-color 300ms ease-in-out;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;

        &:after,
        &:before {
            content: '';
            display: block;
            width: 60%;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.6);
            transition: transform 300ms ease-in-out;
        }
    }

    @media (max-width: $break-point) {
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(100%);
        background-color: white;

        .switch {
            display: flex;
        }

        .list-wrapper {
            width: 200px;
            background-color: white;
        }

        &--active {
            transform: translateX(0);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            .switch {
                background-color: white;
                &:after,
                &:before {
                    transform: translateX(100%);
                }
            }
        }
    }
}

.content {
    flex-grow: 1;
    padding: $padding-size;
    width: 1px;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;

    canvas {
        height: auto !important;
        max-width: 100%;
        max-height: 100vh;
        object-fit: contain;
        object-position: top;
        box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.1);
    }
}

.no-print {
    @media print {
        display: none;
    }
}

.only-print {
    display: none;
    @media print {
        display: block;
    }
}

.two-column {
    column-count: 2;
    column-gap: 2rem;
    vertical-align: top;

    @media screen and (max-width: 768px) {
        column-count: 1;
    }

    @media print {
        column-count: 1;
    }
}

.three-column {
    column-count: 3;
    column-gap: 1rem;

    @media screen and (max-width: 768px) {
        column-count: 2;
    }
}

.print-remarks {
    display: none;

    @media print {
        display: block;
    }
}
